@charset "utf-8";

body, div, p, ul, li, ol, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input, fieldset, legend, optgroup, select, table, textarea {margin:0;padding:0;}
body{height:100%;font:12px/20px "Microsoft YaHei"; background-color: #ffffff;min-width:1200px;}
input,select{font:12px/20px "Microsoft YaHei";}
a img,img{border:0;vertical-align:middle;}
a {text-decoration:none;color:#666;}
a:hover {color:#e53639;}
a:focus {outline-style:none;}
ul li {list-style:none;}
table {border-collapse:collapse;}
input, select {vertical-align:middle;outline: none;}
td {word-break:break-all;}
.virHost_main .virHost_clearfixed:after{content:"";display: block;clear: both;visibility: hidden;height:0;width: 0;}
.virHost_main .col_txt{color:#ff4800;}
.virHost_main a.col_txt{color:#ff4800;}
.virHost_main a.col_txt:hover{text-decoration: underline;}
.virHost_main ul li:first-child{margin-left: 0 !important;}
.virHost_main a.a_udline:hover{text-decoration: underline;}
.virHost_main .virPd01{padding-top: 18px !important;}
.virHost_main .virHost_con{width:1200px;margin:0 auto;position: relative;height:100%;}
/*第一部分*/

.virHost_main .virHost_part1{height:330px;/*background:#132339 url(../images/virHost_01.jpg) no-repeat center top;*/position: relative;}
.virHost_main .virHost_part1 .virHost_part1_con{width:1200px;margin: 0 auto;color:#ffffff;}
.virHost_main .virHost_part1 .virHost_part1_con .virHost_part1_div1{padding: 90px 0 0 62px;}
.virHost_main .virHost_part1 .virHost_part1_con .virHost_part1_div1 h1{font-size: 44px;line-height: 44px;font-weight: inherit;}
.virHost_main .virHost_part1 .virHost_part1_con .virHost_part1_div1 p{font-size: 18px;line-height: 25px;padding-top: 30px;}
.virHost_main .virHost_part1 .virHost_part1_con .virHost_part1_div1 a{display: block;width:136px;height:34px;text-align: center;font-size: 14px;line-height: 36px;border:1px solid #ffffff;color:#ffffff;margin-top: 24px;transition: .2s;position: relative;z-index: 1;}
.virHost_main .virHost_part1 .virHost_part1_con .virHost_part1_div1 a:hover{background-color: #ffffff;color:#333333;}
.virHost_main .virHost_part1 .virHost_topBar{position: absolute;height:50px;background: rgba(0, 0, 0, .3);color:#ffffff;top:0;width:100%;left:0;z-index: 999;}
.virHost_main .virHost_part1 .virHost_topBar.topBar_fixed{position: fixed;top:0;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_l{float: left;font-size: 18px;line-height: 50px;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_l h1{font-weight: inherit;font-size: 18px;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_r{float: right;font-size: 14px;line-height: 50px;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_r a{color:#ffffff;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_r a:hover{color:#18ffff;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_r a:first-child{margin-right: 22px;}
.virHost_main .virHost_part1 .virHost_topBar .virHost_topBar_con{width:1200px;height:100%;margin:0 auto;}
/*轮播*/
.virHost_main .virHost_part1 .slide_main{position: relative;height:330px;}
.virHost_main .virHost_part1 .slide_main>div,.virHost_main .virHost_part1 .slide_main>div>a{position: absolute;width: 100%;height:100%;top:0;left: 0;}
.virHost_main .slide_main_ul{position: absolute;z-index: 99;bottom: 10px;left: 50%;}
.virHost_main .slide_main_ul li{float: left;width: 16px;height: 16px;border-radius: 50%;margin-left: 10px;background: rgba(158, 158, 158, 0.8);cursor: pointer;}
.virHost_main .slide_main_ul li.slide_main_on{background: #F54646;}
/*第二部分*/
.virHost_main .virHost_part2{padding-bottom: 92px;}
.virHost_main .virHostXh_bar{height:60px;background-color: #f8f8f8;border-bottom: 1px solid #d7d8d9;}
.virHost_main .virHostXh_ul{width:1200px;margin: 0 auto;}
.virHost_main .virHostXh_ul li{width:240px;height:60px;color:#333333;float: left;line-height: 60px;font-size: 16px;position: relative;cursor: pointer;text-align: center;box-sizing: border-box;/* border-right: 1px solid #d7d8d9; */}
.virHost_main .virHostXh_ul li:first-child{/* border-left: 1px solid #d7d8d9; */}
.virHost_main .virHostXh_ul li.vOn{background-color: #ffffff;color:#1f86ef;font-weight: bold;border-bottom: 2px solid #1f86ef;}
.virHost_main .virFlag{margin-top: 17px;text-align:  center;}
.virHost_main .virFlag a{color:#ff6600;font-size: 14px;font-weight: bold;}
.virHost_main .virFlag  .mgSp{margin:0 27px;color:#d7d8d9;font-size: 16px;}
.virHost_main .virFlag img:first-child{margin-right: 5px;}
.virHost_main .virFlag .vir2Hov{position: relative;}
.virHost_main .virFlag .mgImg1{margin-left: 12px;display: none;position: absolute;top: -12px;right: -68px;}
/*.virHost_main .virFlag .vir2Hov:hover .mgImg1{display: block;}*/
.virHost_main .virHost_xh{margin-top: 30px;}
.virHost_main .virHost_xh .virHostXh_div{height:515px;display: none;}
.virHost_main .virHost_xh .virHostXh_div:first-child{display: block;}
.virHost_main .virHost_xh .virHostXh_div>div{float: left;height:515px;}
.virHost_main .virHost_xh .xhCard1{width:188px;height:351px;border:1px solid #ebebeb;box-sizing: border-box;border-right: none;margin-top: 100px;position: relative;}
.virHost_main .virHost_xh .xhCard2{width:448px;height:100%;position: relative;display: none;box-shadow: 0 0 10px #b7b7b7;box-shadow: 0 6px 18px 0 rgba(205,205,205,0.5);transform: translateY(50px);transition: all .5s;}
.virHost_main .virHost_xh .virHostXh_div>div:last-child .xhCard1{border-right: 1px solid #ebebeb;}
.virHost_main .virHost_xh .cardOn .xhCard1{display: none;}
.virHost_main .virHost_xh .cardOn .xhCard2{display: block;animation: cardHove .6s 0s forwards;}
.virHost_main .virHost_xh .xhCard1 p{text-align: center;}
.virHost_main .virHost_xh .xhCard1 .Card1_p0{color:#333333;font-size: 16px;margin:30px 0 10px 0;}
.virHost_main .virHost_xh .xhCard1 .Card1_p1{font-size: 12px;color:#666666;}
/*.virHost_main .virHost_xh .xhCard1 .Card1_p2{height:1px;}*/
.virHost_main .virHost_xh .xhCard1 .Card1_p2 span{display: inline-block;width: 22px;height:1px;background-color: #ebebeb;margin:8px 0 22px 0;}
.virHost_main .virHost_xh .xhCard1 .Card1_p3{font-size: 14px;color:#333333;}
.virHost_main .virHost_xh .xhCard1 .Card1_p3 span{font-size: 27px;/* font-weight: bold; */color:#e50012;}
.virHost_main .virHost_xh .xhCard1 .Card1_div p{font-size: 12px;color:#999999;margin-top: 22px;line-height: 18px;}
.virHost_main .virHost_xh .xhCard1 .Card1_div p span{font-size: 13px;/* font-weight: bold; */}
.virHost_main .virHost_xh .card2Head{height:95px;background:#1a7bda url(../images/cardBg1.jpg) no-repeat left top;color:#ffffff;text-indent: 20px;position: relative;}
.virHost_main .virHost_xh .card2Head .card2Head_p0{font-size: 18px;font-weight: bold;line-height: 24px;padding-top: 24px;}
.virHost_main .virHost_xh .card2Head .card2Head_p1{font-size: 12px;margin-top: 4px;}
.virHost_main .virHost_xh .card2Head.iconBg1:after{content:"";width:37px;height:37px;position: absolute;background:url(../images/hotIcon1.png) no-repeat left top;right: 0;top:0;}
.virHost_main .virHost_xh .Card2_p0{color:#333333;text-align: center;font-size: 14px;margin:19px 0 4px 0;}
.virHost_main .virHost_xh .Card2_p0 .Card2Price{font-size: 38px;/* font-weight: bold; */color: #e02c3a;line-height: 48px;}
.virHost_main .virHost_xh .Card2_p1{height:20px;font-size: 12px;color:#ff6600;text-align: center;}
.virHost_main .virHost_xh .Card2_p2{width: 22px;height:1px;background-color: #ebebeb;margin:8px auto 0 auto;}
.virHost_main .virHost_xh .Card2_cs{margin:16px 20px 0 20px;border-bottom: 1px solid #f3f3f3;padding-bottom: 15px;}
.virHost_main .virHost_xh .Card2_cs li{float: left;text-align: center;color:#333333;border-right: 1px solid #f3f3f3;width: 135px;}
.virHost_main .virHost_xh .Card2_cs li:last-child{border-right: none;}
.virHost_main .virHost_xh .Card2_cs li p:first-child{font-size: 14px;/* font-weight: bold; */}
.virHost_main .virHost_xh .Card2_cs li p:last-child{font-size: 12px;}
.virHost_main .virHost_xh .Card2_cs2{margin:12px 20px 0 20px;height:140px;}
.virHost_main .virHost_xh .Card2_cs2 p{font-size: 12px;color:#666666;line-height: 28px;}
.virHost_main .virHost_xh .Card2_cs2 p span:first-child{display: inline-block;width: 72px;text-align: right;vertical-align: top;}
.virHost_main .virHost_xh .Card2_cs2 p .i_new{display: inline-block;font-size: 12px;width:33px;height:16px;text-align: center;line-height: 15px;font-style: initial;background-color: #e50012;color: #fff;transform: scale(.7);}
.virHost_main .virHost_xh .Card2_cs2 p .virLink1{float: right;color:#2086ee;}
.virHost_main .virHost_xh .Card2_cs2 p .virLink1:hover{text-decoration: underline;}
.virHost_main .virHost_xh .Card2_btns{text-align: center;margin-top: 22px;}
.virHost_main .virHost_xh .Card2_btns a{width:110px;height:40px;font-size: 12px;text-align: center;line-height: 40px;background-color: #fbfbfb;display: inline-block;color:#666666;}
.virHost_main .virHost_xh .Card2_btns a:last-child{background-color: #2086ee;color:#ffffff;margin-left: 16px;}
.virHost_main .virHost_xh .Card2_btns a:hover{box-shadow: 0 0 10px #d2d2d2;}
/*第三部分*/
.virHost_main .virHost3_div1{background-color: #edf5fc;padding: 60px 0;}
.virHost_main .pTitle01{font-size: 29px;color: #333333;text-align: center;line-height: 32px;}
.virHost_main .pTitle02{font-size: 12px;color: #666666;text-align: center;margin-top: 10px;}
.virHost_main .virHost3_ul1{width:1200px;margin:0 auto;}
.virHost_main .virHost3_ul1 li{float: left;width:300px;text-align: center;}
.virHost_main .virHost3_ul1 li>div{width:80px;height:80px;border-radius: 50%; background: #2da4f8;background: linear-gradient(to right, #45bafd 0%, #3a90f1 100%);text-align: center;line-height: 80px;margin:36px auto 0 auto;}
.virHost_main .virHost3_ul1 li .virHost3ul_p0{display: inline-block;font-size: 16px;color:#333333;padding-bottom: 8px;border-bottom: 1px solid #d5dce2;margin:10px 0;}
.virHost_main .virHost3_ul1 li .virHost3ul_p1{font-size: 12px;color:#666666;margin: 0 15px;}
.virHost_main .virHost3_div2{padding: 96px 0 126px 0;background-color: #ffffff;}
.virHost_main .virHost3_ul2{width:1200px;margin:67px auto 0 auto;box-shadow: 0 0 10px #bfbfbf;padding: 20px 0 40px 0;}
.virHost_main .virHost3_ul2 li{float: left;width:240px;text-align: center;box-sizing: border-box;border-right: 1px solid #ebebeb;}
.virHost_main .virHost3_ul2 li:last-child{border-right: none;}
.virHost_main .virHost3_ul2 li .virHost3ul2_p0{font-size: 14px;color:#333333;margin-top: 4px;}
.virHost_main .virHost3_ul2 li .virHost3ul2_p0:after{content:"";width:24px;height:1px;background-color: #ebebeb;display: block;margin:28px auto 0 auto;}
.virHost_main .virHost3_ul2 li .virHost3ul2_p1{font-size: 14px;color:#333333;margin:24px 0 20px 0;}
.virHost_main .virHost3_ul2 li .virHost3ul2_p1 span{font-size: 26px;color: #e02c3a;line-height: 30px;}
.virHost_main .virHost3_ul2 li .virHost3ul2_txt{}
.virHost_main .virHost3_ul2 li .virHost3ul2_txt p{color:#999999;font-size: 12px;margin-top: 12px;text-align: left;} 
.virHost_main .virHost3_ul2 li .virHost3ul2_txt p span:last-child{font-size: 12px;color: #999999;/* font-weight: bold; */margin-left: 12px;}
.virHost_main .virHost3_ul2 li .virHost3ul2_txt p span:first-child{display: inline-block;text-align: right;width: 119px;}
.virHost_main .virHost3_ul2 li .virHost3_btn{width:108px;height:38px;border:1px solid #a9a9a9;display: block;font-size: 12px;color:#666666;text-align: center;line-height: 38px;margin:26px auto 0 auto;}
.virHost_main .virHost3_ul2 li .virHost3_btn:hover{border-color: #666666;color:#333333;}
/*增值服务*/
.virHost_main .virHost3_div3{background-color: #f4f8fc;padding: 78px 0 132px 0;}
.virHost_main .virHost_fwzz{margin: 58px auto 0 auto;width:1200px;}
.virHost_main .fwzz_ul li{float: left;width:386px;margin-left: 21px;}
.virHost_main .fwzz_ul li .fwzzUl_p{font-size: 12px;color:#666;padding: 10px 0 0 12px;}
.virHost_main .fwzz_ul li .fwzzUl_pnew{text-align: right;}
.virHost_main .fwzz_ul li .fwzzUl_p span{color:#ff663e;font-weight: bold;}
.virHost_main .fwzz_ul li .fwzzUl_p .fwzzUl_btn0,.virHost_main .fwzz_ul li .fwzzUl_p .fwzzUl_btn1{color:#252b34;text-decoration: underline;margin-left: 3px;}
.virHost_main .fwzz_ul li>div{width:100%;height:148px;background-color: #fff;border:1px solid #efefef;position: relative;}
.virHost_main .fwzz_ul li>div.fwzzUl_last{background: #fff url(../images/virHostNew03.png) no-repeat 110px 42px;}
.virHost_main .fwzz_ul li>div.fwzzUl_last p{font-size: 18px;color:#959595;padding: 56px 0 0 180px;line-height: 23px;}
.virHost_main .fwzz_ul li>div:hover{border-color: #1ca2f7;box-shadow: 0 0 10px #d6d6d6;}
.virHost_main .fwzz_ul li>div:hover .fwzzUl_div p .fwzzUl_btn{background-color: #339ee2;color:#fff;}
.virHost_main .fwzz_ul li .fwzzUl_bg1{width:82px;height:82px;text-align: center;line-height: 82px;background-color: #f4f8fc;border-radius: 50%;position: absolute;top:33px;left:30px;}
.virHost_main .fwzz_ul li .fwzzUl_div{padding: 34px 0 0 126px;}
.virHost_main .fwzz_ul li .fwzzUl_div p:first-child{font-size: 14px;/* font-weight: bold; */color:#202b38;}
.virHost_main .fwzz_ul li .fwzzUl_div p:nth-child(2){font-size: 12px;color:#666;padding: 3px 0 8px 0;}
.virHost_main .fwzz_ul li .fwzzUl_div p:last-child{font-size: 14px;color: #e02c3a;line-height: 27px;}
.virHost_main .fwzz_ul li .fwzzUl_div p .fwzzUl_sp1{font-size: 14px;vertical-align: top;}
.virHost_main .fwzz_ul li .fwzzUl_div p .fwzzUl_sp2{font-size: 22px;line-height: 30px;color: #e02c3a;}
.virHost_main .fwzz_ul li .fwzzUl_div p .fwzzUl_btn{width:93px;height:25px;border:1px solid #339ee2;display: inline-block;text-align: center;line-height: 25px;font-size: 12px;color:#339ee2;border-radius: 3px;margin-left: 12px;}
/*增值服务使用弹窗*/
.virHost_main .virZzfw_mg{margin-top: 7px;}
.virHost_main .virZzfw_mg2{margin-top:35px;}
.virHost_main .virZzfw_tc{position: fixed;height: 100%;width: 100%;top: 0;left: 0;z-index: 10000000;background: rgba(0, 0, 0,.5);display: none;}
.virHost_main .virZzfw_tc .virZzfw_con{width: 862px;background: #fff;z-index: 1001;position: fixed;top: 15%;left: 50%;margin-left: -431px;border-radius: 3px;max-height: 80%;overflow: auto;box-shadow: 0 0 10px #464646;}
.virHost_main .virZzfw_tc .virZzfw_head{height:44px;border-bottom: 1px solid #ddd;width:845px;position: fixed;background: #fff;}
.virHost_main .virZzfw_tc .virZzfw_head p{font-size: 16px;line-height: 44px;color:#333333;font-weight: bold;position: relative;text-indent: 24px;}
.virHost_main .virZzfw_tc .virZzfw_head .virZzfw_close{position: absolute;font-size: 32px;color:#8a8a8a;width:32px;height:32px;text-align: center;line-height: 32px;top: 4px;right: 8px;}
.virHost_main .virZzfw_tc .virZzfw_head .virZzfw_close:hover{color:#333;}
.virHost_main .virZzfw_tc .virZzfw_div{padding: 67px 42px 25px 42px;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_p1{font-size: 16px;color:#333;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_p2{font-size: 12px;color:#666;line-height: 28px;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_sp{font-weight: bold;color:#ff4800;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_buy{display: inline-block;width:82px;height:23px;color:#666;text-align: center;line-height: 23px;border:1px solid #ddd;background: -webkit-linear-gradient(#fefefe 0%, #f8f8f8 100%);background: -moz-linear-gradient(#fefefe 0%, #f8f8f8 100%);background: linear-gradient(#fefefe 0%, #f8f8f8 100%);border-radius: 3px;margin-left: 7px;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_buy:hover{border-color: #afafaf;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_img{margin: 5px 0 12px 0;text-align: center;}
.virHost_main .virZzfw_tc .virZzfw_div .virZzfw_p3{font-size: 12px;color:#666;margin-top: -5px;text-indent: 48px;}
/*在线帮助tc*/
.virHost_main .virHelp_tc{position: fixed;right: 15px;z-index: 1000000;}
.virHost_main .virHelp_btn{display: block;width:61px;height:52px;background: url(../images/virHelp01.png) no-repeat center center;cursor: pointer;}
.virHost_main .virHelp_div{width:438px;min-height: 390px;position: absolute;background-color: #fff;box-shadow: 0 0 30px #565656;left: -455px;top: -297px;display: none;}
.virHost_main .virHelp_div .virHelp_p0{font-size: 16px;color:#333;font-weight: bold;padding: 18px 0 0 20px;}
.virHost_main .virHelp_div:after{content:"";position: absolute;border-top: 7px solid transparent;border-bottom: 7px solid transparent;border-left: 8px solid #ffffff;top:313px;right: -8px;}
.virHost_main .virHelp_div .virHelp_close{position: absolute;font-size: 30px;line-height: 30px;color:#999;right: 8px;top: 11px;cursor: pointer;}
.virHost_main .virHelp_div .virHelp_close:hover{color:#333;}
.virHost_main .virHelp_div .virHelp_ul{margin: 20px 9px 0 20px;max-height: 310px;overflow: auto;}
.virHost_main .virHelp_div .virHelp_ul::-webkit-scrollbar {width: 10px;height: 10px;}
.virHost_main .virHelp_div .virHelp_ul::-webkit-scrollbar-button{display: none;}
.virHost_main .virHelp_div .virHelp_ul::-webkit-scrollbar-thumb{background: #d7e1ea;border-radius: 6px;}
.virHost_main .virHelp_div .virHelp_ul::-webkit-scrollbar-track {background: #fff;}
.virHost_main .virHelp_div .virHelp_bar{width:390px;height:30px;line-height: 30px;background-color: #f7f9fc;color:#333;margin-top: 10px;cursor: pointer;position: relative;}
.virHost_main .virHelp_div .virHelp_bar:hover{background-color: #eceff3;}
.virHost_main .virHelp_div .virHelp_bar:after{content:"";width:17px;height:9px;position: absolute;background: url(../images/virHelp02.png) no-repeat right center;right: 15px;top:10px;}
.virHost_main .virHelp_div .virHelp_bar.on:after{background: url(../images/virHelp03.png) no-repeat right center;}
.virHost_main .virHelp_div .virHelp_ul li:first-child .virHelp_bar{margin-top: 0;}
.virHost_main .virHelp_div .virHelp_bar span{display: inline-block;width:3px;height:3px;border-radius: 50%;background-color: #333333;vertical-align: middle;margin: 0 9px 0 10px;}
.virHost_main .virHelp_div .virHelp_txt{display: none;}
.virHost_main .virHelp_div .virHelp_txt>div{margin: 16px 0 0 10px;}
.virHost_main .virHelp_div .virHelp_txt>div:first-child{margin-top: 12px;}
.virHost_main .virHelp_div .virHelp_txt>div p{font-size: 12px;color:#666;width: 338px;line-height: 18px;word-break: break-all;}
.virHost_main .virHelp_div .virHelp_txt>div p img{margin:0 10px;}
.virHost_main .virHelp_div .virHelp_txt>div p a{color: #5252ef;margin: 0 3px;}
.virHost_main .virHelp_div .virHelp_txt>div p a:hover{text-decoration: underline;}
.virHost_main .virHelp_div .virHelp_bot{height:40px;background-color: #f7f9fc;font-size: 12px;color:#333;text-align: center;line-height: 40px;margin-top: 18px;display: none;}
.virHost_main .virHelp_div .virHelp_bot a{display: inline-block;width:84px;height:20px;border:1px solid #47a7e5;color:#47a7e5;text-align: center;line-height: 20px;border-radius: 2px;margin-left: 10px;}
.virHost_main .virHelp_div .virHelp_bot a img{margin-right: 3px;}
.virHost_main .virHelp_div .virHelp_bot a:hover{opacity: .9;}
.virHost_main .virHost_part2_p3{position: absolute;top: 55px;line-height: 15px;font-size: 12px;width:266px;}
.virHost_main .virHost_part2_p3 a{color:#ff4800;}
.virHost_main .virHost_part2_p3 a:hover{text-decoration: underline;}
.virHost_main .headBar{height:58px;padding-top: 20px;}
.virHost_main .headBarFixed{height:58px;border-bottom: 1px solid #d7d8d9;background-color: #ffffff;width:100%;}
.virHost_main .headBarFixed.ulFixed{position: fixed;z-index: 99;top:50px;}
.virHost_main .headBarFixed li{float: left;width:130px;height:58px;box-sizing: border-box;font-size: 16px;color:#666666;text-align: center;line-height: 58px;margin-left: 45px;cursor: pointer;}
.virHost_main .headBarFixed li.vOn{color:#1f86ef;border-bottom: 2px solid #1f86ef;}
.virHost_main .virHost_part4{}
.virHost_main .virHost_part4 .virHost_part3_tip{margin:40px 0;}
.virHost_main .virHost_part4 .virHost_part3_tip .virHost_part3_t1{font-size: 16px;float: left;width:80px;color:#333333;}
.virHost_main .virHost_part4 .virHost_part3_tip .virHost_part3_t2{height: 1px;background-color: #dddddd;float: left;width:1120px;margin-top: 10px;}
.virHost_main .divTab1>div{float: left;box-sizing: border-box;border:1px solid #ebebeb;border-right: none;color:#666666;}
.virHost_main .divTab1>div:last-child{border-right:1px solid #ebebeb;}
.virHost_main .divTab1 .divList1{width:130px;}
.virHost_main .divTab1 .divList2{width:246px;border-right:1px solid #ebebeb;}
.virHost_main .divTab1 .divList3{width:246px;}
.virHost_main .divTab1 .divList4{width:290px;}
.virHost_main .divTab1 .divList5{width:288px;}
.virHost_main .divTab1>div p{font-size: 12px;color:#666666;}
.virHost_main .divTab1>div>div{border-bottom: 1px solid #ebebeb;}
.virHost_main .divTab1>div>div:last-child{border-bottom: none;}
.virHost_main .divTab1 .divList1 p{text-align: center !important;font-size: 14px;}
.virHost_main .divTab1>div .divListc1 p{padding: 32px 0;text-align: center;font-size: 14px;font-weight: bold;color:#333333;}
.virHost_main .divTab1>div.divList1 .divListc1 p{font-weight: initial;}
.virHost_main .divTab1>div .divListc2 p{padding: 22px 0;text-align: center;}
.virHost_main .divTab1>div .divListc3{padding: 14px 0;min-height: 210px;}
.virHost_main .divTab1>div .tabCon{display: table;width:100%;min-height: 210px;}
.virHost_main .divTab1>div p.tabCon_p0{display: table-cell;vertical-align: middle;}
.virHost_main .divTab1>div .divListc3 p span:first-child{width:4px;height:4px;border-radius: 50%;background-color: #666666;vertical-align: top;position: absolute;left: 16px;top: 11px;}
.virHost_main .divTab1>div .tab3Con{padding-top: 4px;}
.virHost_main .divTab1>div .tab3Con1{padding: 0 27px;}
.virHost_main .divTab1>div .tab3Con p{position: relative;line-height: 25px;padding: 0 27px;}
.virHost_main .divTab1>div .divListc4 p{padding: 22px 0;text-align: center;}
.virHost_main .divTab1>div .divListc5 p{padding: 22px 0;text-align: center;}
.virHost_main .divTab1>div .divListc6 .tabCon{display: table;width:100%;min-height: 69px;}
.virHost_main .divTab1>div .divListc6{padding: 14px 0;min-height: 69px;}
.virHost_main .divTab1>div .divpd0{padding: 0;min-height: 98px;}
.virHost_main .divTab1>div .divpd0>div{height: 98px;}
.virHost_main .divTab1>div .divpd0>div p{float: left;width:50%;height:100%;box-sizing: border-box;}
.virHost_main .divTab1>div .divpd0>div p span{padding: 14px 12px 0 12px;display: block;}
.virHost_main .divTab1>div .divpd0>div p:first-child{border-right: 1px solid #ebebeb;}
.virHost_main .divTab1>div .divListc6 p{min-height: 66px;}
.virHost_main .divTab1>div .divListc7 p{padding: 22px 0;text-align: center;}
.virHost_main .divTab1>div .divListc8 .tabCon{display: table;width:100%;min-height: 56px;}
.virHost_main .divTab1>div .divListc8{min-height: 56px;padding: 22px 0;}
.virHost_main .divTab1>div .tabCon2 p{font-size: 14px;color:#339ee2;font-weight: bold;text-align: center;}
.virHost_main .divTab1>div .tabCon2 a{width:93px;height:25px;border:1px solid #339ee2;text-align: center;line-height: 25px;color:#339ee2;display: block;margin:6px auto 0 auto;border-radius: 3px;}
.virHost_main .divTab1>div .tabCon2 a:hover{background-color: #339ee2;color:#ffffff;}
.virHost_main .divTab1>div .tabCon3 p{float: left;width: 50%;height:100%;box-sizing: border-box;}
.virHost_main .divTab1>div .tabCon3 p:first-child{border-right: 1px solid #ebebeb;}
.virHost_main .divTab1 .divListc1{background-color: #eef7fe;}
.virHost_main .divTab1 .divList1>div{background-color: #f8f8f8;}
.virHost_main .divTab1>div.vOn .divListc1{background-color: #339ee2;}
.virHost_main .divTab1>div.vOn .divListc1 p{color:#ffffff;}
.virHost_main .divTab1>div.vOn{border:1px solid #339ee2;box-shadow: 0 1px 15px 0 rgba(0,0,0,.15);}
/*.virHost_main .divTab1>div.divListH:hover{border:1px solid #339ee2;}
.virHost_main .divTab1>div.divListH:hover .divListc1{background-color: #339ee2;}
.virHost_main .divTab1>div.divListH:hover .divListc1 p{color:#ffffff;}
.virHost_main .divTab1>div.divListH:hover{box-shadow: 0 1px 15px 0 rgba(0,0,0,.15);}*/

.virHost_main .virHost_cspz_con{padding-top: 40px;}
.virHost_main .virHost_cspz_con li:first-child{margin-top: 0!important;}
.virHost_main .virHost_cspz_con li{margin-top: 16px;}
.virHost_main .virHost_cspz_con .virHost_cspz_top{cursor: pointer;}
.virHost_main .virHost_cspz_con .virHost_cspz_top:hover{background-color: #f9f9f9;}
.virHost_main .virHost_cspz_con .virHost_cspz_top p{font-size: 16px;color:#339ee2;}
.virHost_main .virHost_cspz_con .virHost_cspz_top p span{display: inline-block;width:18px;height:18px;background-color: #339ee2;color:#ffffff;text-align: center;font-size: 17px;border-radius: 3px;line-height: 16px;vertical-align: bottom;margin-right: 12px;}
.virHost_main .virHost_cspz_con .virHost_cspz_tab{font-size: 13px;color:#a0a0a0;margin-top: 14px;}
.virHost_main .virHost_radio label{margin-right: 10px;margin-left: 3px;}
.virHost_main .virHost_cspz_con .virHost_cspz_tab table{width:100%;margin-top: 16px;}
.virHost_main .virHost_cspz_tab .virHost_cspz_tables{position: relative;height:440px;}
.virHost_main .virHost_cspz_tab .virHost_zjzc{height:1211px;}
.virHost_main .virHost_cspz_tab .virHost_zjzc2{height:654px;}
.virHost_main .virHost_cspz_tab .virHost_cspz_tables>div{position: absolute;top:0;left: 0;width: 100%;}
.virHost_main .virHost_cspz_tab table th{background-color: #339ee2;color:#ffffff;font-weight: bold;height:40px;}
.virHost_main .virHost_cspz_tab table th,.virHost_main .virHost_cspz_tab table td{text-align: center;border:1px solid #dddddd;}
.virHost_main .virHost_cspz_tab table tbody tr td:first-child{color:#333333;font-size: 13px;}
.virHost_main .virHost_cspz_tab table tbody tr td{padding: 15px 0;}
.virHost_main .virHost_cspz_span span{color:#2bb201;font-weight: bold;font-size: 19px;margin-left: 3px;}
.virHost_main .virHost_cspz_tab .xhBuyTab{height:auto;}
.virHost_main .virHost_cspz_tab .xhBuyTab td{font-size: 12px;color:#666666;}
.virHost_main .virHost_cspz_tab .xhBuyTab th{background-color: #eef7fe;color:#333333;height:70px;}
.virHost_main .virHost_cspz_tab .xhBuyTab th:first-child{background-color: #f8f8f8;}
.virHost_main .virHost_cspz_tab .xhBuyTab tr td:first-child{background-color: #f8f8f8;font-size: 14px;color:#333333;}
.virHost_main .virHost_cspz_tab table .fir_tr p{color:#333333;font-size: 14px;}
.virHost_main .virHost_cspz_tab table .fir_tr p span{color:#e50012;font-size: 24px;font-weight: bold;}
.virHost_main .virHost_cspz_tab table .fir_tr a{display: block;width:70px;height:26px;color:#ffffff;text-align: center;line-height: 26px;margin:5px auto 0 auto;font-size: 12px;background-color: #2086ee;}
.virHost_main .virHost_cspz_tab table .fir_tr a:hover{opacity: .9;}
.virHost_main .virHost_cspz_tab table .tabPd0 p{padding: 0 13px;}
/*常见问题*/
.virHost_main .proSlide{}
.virHost_main .proSlide>div{margin-top: 6px;}
.virHost_main .proSlide_h{height:44px;font-size: 14px;color:#333333;text-indent: 50px;background: #f4f8fc url(../images/slideIcon1.png) no-repeat 14px center;line-height: 44px;cursor: pointer;}
.virHost_main .proSlide_h.pOpen{background: #f4f8fc url(../images/slideIcon2.png) no-repeat 14px center;}
.virHost_main .proSlide_con{padding: 20px 0 30px 0;display: none;}
.virHost_main .proSlide>div:first-child .proSlide_con{display: block;}
.virHost_main .proSlide_con .pro_pq{font-size: 13px;color:#333333;margin-top: 25px;}
.virHost_main .proSlide_con .pro_pq:first-child{margin-top: 0;}
.virHost_main .proSlide_con .pro_pq span{display: inline-block;width:18px;height:18px;font-size: 12px;text-align: center;line-height: 18px;color:#339ee2;background-color: #f4f8fc;border-radius: 3px;margin-right: 8px;}
.virHost_main .proSlide_con .pro_pa{font-size: 13px;color:#999999;margin: 10px 27px 0 27px;line-height: 24px;}
.virHost_main .proSlide_con .pro_pa a{color:#1010e8;text-decoration: underline;}
.virHost_main .proSlide_con .pro_pa .colSp0{color:#FF9800;}
/*客户案例*/
.virHost_main .virHost4_khal{width:1200px;margin:0 auto;}
.virHost_main .virHost4_khal ul{padding: 10px 42px;}
.virHost_main .virHost4_khal ul li{float: left;width:544px;margin-left: 28px;}
.virHost_main .virHost4_khal ul li>div{float: left;}
.virHost_main .virHost4_khal ul li>div:last-child{width:444px;margin-left: 20px;}
.virHost_main .virHost4_khal ul li>div:last-child p{font-size: 12px;color:#333333;}
.virHost_main .virHost4_khal ul li>div:last-child p:first-child{font-size: 14px;color:#333333;}
.virHost_main .virHost4_khal ul li .virHost_pd{padding: 8px 0;color:#666666 !important;}
/*产品帮助*/
.virHost_main .virHost4_cpbz{position: relative;width:1200px;margin:0 auto;}
.virHost_main .virHost4_cpbz ul{padding: 20px 0px 60px 50px;}
.virHost_main .virHost4_cpbz ul li{float: left;margin-left: 118px;}
.virHost_main .virHost4_cpbz ul li:last-child{margin-left: 160px;}
.virHost_main .virHost4_cpbz ul li h5{font-weight: inherit;font-size: 16px;color:#333333;padding-bottom: 5px;}
.virHost_main .virHost4_cpbz ul li p{font-size: 12px;padding-top: 8px;}
.virHost_main .proMore{text-align: right;margin-top: 16px;}
.virHost_main .proMore a{font-size: 13px;color:#666666;text-decoration: underline;}
.virHost_main .virHost_part1 .virHost_topBar.topBar_fixed{position: fixed;top:0;}
.virHost_main .headBarBtn{position: absolute;width:110px;height:40px;background-color: #e50012;font-size: 12px;color:#ffffff;text-align: center;line-height: 40px;right:20px;top:8px;}
.virHost_main .headBarBtn:hover{opacity: .9;}
/*新增卡片样式*/
.virHost_main .cardPositive{height:100%;}
.virHost_main .cardCol1{background-color:#729c23;}
.virHost_main .cardCol2{background-color:#006736;}
.virHost_main .cardOpposite{position: absolute;width:100%;height:100%;left:0;top:0;z-index: 99;box-sizing: border-box;padding: 0 20px;color:#fff;display: none;}
.virHost_main .cardOp_head{position: relative;margin-top: 30px;}
.virHost_main .cardOp_head>p:first-child{font-size: 20px;font-weight: bold;text-indent: 15px;}
.virHost_main .cardOp_head>p:last-child{font-size: 18px;position: absolute;top: -9px;right: 10px;line-height: 36px;}
.virHost_main .cardOp_head .cardOph_sp1{font-size: 16px;vertical-align: super;margin-right: -2px;}
.virHost_main .cardOp_head .cardOph_sp2{font-size: 36px;}
.virHost_main .cardOpposite .cardOp_p0{font-size: 14px;text-align: center;margin-top: 24px;padding-top: 20px;border-top: 1px solid #becea1;}
.virHost_main .cardOpposite .cardOp_mid{width:150px;height:190px;margin:25px auto 0 auto;background-color: #fff;position: relative;}
.virHost_main .cardOpposite .cardOp_mid .cardOpMid_p0{text-align: center;padding-top: 10px;}
.virHost_main .cardOpposite .cardOp_mid .cardOpMid_p1{position: absolute;top:0;width:40px;text-align: right;left:-50px;}
.virHost_main .cardOpposite .cardOp_mid .cardOpMid_p2{text-align: center;color:#729c23;font-size: 14px;line-height: 18px;margin-top: 7px;}
.virHost_main .cardOpposite .cardOp_btns{text-align: center;margin-top: 20px;}
.virHost_main .cardOpposite .cardOp_btns a{width:98px;height:33px;display: inline-block;text-align: center;border:1px solid #fff;color:#fff;line-height: 33px;font-size: 14px;border-radius: 3px;}
.virHost_main .cardOpposite .cardOp_btns a:last-child{background-color: #fff;color:#729c23;margin-left: 12px;}
.virHost_main .cardOpposite .cardOp_btns a:hover{opacity: .9;}
.virHost_main .cardOpposite .cardOp_bot{position: absolute;width:100%;background-color: #678e1d;bottom: 0;left: 0;}
.virHost_main .cardOpposite .cardOp_bot p{font-size: 12px;padding: 10px 20px;line-height: 16px;}
.virHost_main  .cardbg01,.virHost_main  .cardbg02{cursor: pointer;}
.virHost_main  .cardbg01:after{content: "";position: absolute;width: 84px;height: 70px;background: url(../images/virCard01.png) no-repeat center center;right: 0;top: 0;}
.virHost_main  .cardbg02:after{content: "";position: absolute;width: 84px;height: 70px;background: url(../images/virCard02.png) no-repeat center center;right: 0;top: 0;}
.virHost_main  .cardbg03:after{content: "";position: absolute;width: 84px;height: 70px;background: url(../images/virCardjp01.png) no-repeat center center;right: 0;top: 0;}
.virHost_main .cardPo_sp0{font-size: 18px;color:#6f9d1f;margin-left:5px;}
.virHost_main .cardPo_sp0 img{margin-left: 2px;}
.virHost_main .cardOpposite.cardCol2 .cardOp_bot{background-color: #01562e;}
.virHost_main .textInd0{text-indent: 0 !important;}
.virHost_main .textInd0+p{right:0 !important;}
.virHost_main .cardbg02+div .cardPo_sp0{color:#007042;}
.virHost_main .cardImgsp{font-size: 18px;color: #6f9d1f;margin-left: 5px;}
.virHost_main .cardImgsp img{margin-left: 3px;}
.virHost_main .cardbg02+div  .cardImgsp{color:#007042;}
@keyframes cardHove{
	from{transform: translateY(50px);}
	to{transform: translateY(0px);}
}

.virHost_main .virErwm{position: fixed;height: 100%;width: 100%;top: 0;left: 0;z-index: 10000000;background: rgba(0, 0, 0,.5);display: none;}
.virHost_main .virErwm>div{position: absolute;width: 300px;height: 300px;top:220px;left:50%;margin-left: -129px;background-color: #fff;}
.virHost_main .virErwm .virErwm_c{border: none;background: none;position: absolute;right: 8px;top: 8px;font-size: 20px;opacity: .7;cursor: pointer;color: #666666;font-weight: bold;font-family: Simsun;}
.virHost_main .virErwm .virErwm_i{width: 258px;height: 258px;margin: 21px auto 0 auto;}
.virHost_main .virErwm .virErwm_c:hover{color:#333333;}

/*活动背景图*/
.virHost_main .oppHdBg{background:url(../images/oppHdBg1.jpg) no-repeat center center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 99;box-sizing: border-box;display: none;}